/* KEYBOARD without using table */

body {
	height: 100vh;
	display: flex;
	align-items: center;
}

.div01 {
	background-color: white;
	padding: 20px;
	width: 1160px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: auto;
	border: 5px solid gray;
}

.div1 {
	background-color: black;
	padding: 20px;
	width: 1140px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.div2, .div3, .div4, .div5, .div6, .div7 {
	float: left;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	float: left;
	display: inline;
}

li:last-child {
	padding-right: none;
}

.ul1 li {
	padding: 0 10px 0 0;
}

.ul1 .button01 {
	width: 60px;
	height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ul2 .button02, .ul3 .button03, .ul4 .button04, .ul5 .button05 {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ul2 .button0201 {
	width: 90px;
	height: 60px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ul2 .button0202 {
	width: 125px;
	height: 60px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ul2 li, .ul3 li, .ul4 li, .ul5 li, .ul6 li {
	padding: 0 14px 0 0;
}

.ul3 .button0301 {
	width: 125px;
	height: 60px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ul3 .button0302 {
	width: 90px;
	height: 60px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ul4 .button0401, .ul4 .button0402 {
	width: 145px;
	height: 60px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ul5 .button0501, .ul5 .button0502 {
	width: 182.5px;
	height: 60px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ul6 .button06 {
	width: 60px;
	height: 80px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ul6 .button0601 {
	width: 380px;
	height: 80px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ul7 li {
	clear: left;
	display: inline-block;
}

.ul7 .button0602 {
	width: 60px;
	height: 35px;
	margin-bottom: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ul7 .button0603 {
	width: 60px;
	height: 35px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.div2, .div3, .div4, .div5, .div6 {
	margin-bottom: 10px;
}

.div8 {
	clear: both;
}